<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bokeh Applications</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style type="text/css">
    .row { margin-top: 1em}
  </style>
</head>
<body>

<div class="container-fluid">
  <h1>Bokeh Applications</h1>

  <div class="row">
    <div class="col-sm-8">
      <p>
        This site hosts examples of applications built using
        <a target="_blank" href="http://bokeh.pydata.org">Bokeh</a>, a library for building data visualizations
        and applications in the browser from <a target="_blank" href="https://www.python.org">Python</a>
        (and other languages), without writing JavaScript.
      </p>
      </div>
    </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <a target="_blank" href="apps/movies">
          <img src="http://bokeh.pydata.org/static/movies_t.png" class="img-responsive img-thumbnail">
          </a>
        </div>
        <div class="col-sm-6">
          <p class="lead">
            An interactive query tool for a set of IMDB data
          </p>
          <p>
            <em>Source code: </em><a target="_blank" href="https://github.com/bokeh/bokeh/blob/master/examples/app/movies">movies</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <a target="_blank" href="apps/selection_histogram">
            <img src="http://bokeh.pydata.org/static/selection_histogram_t.png" class="img-responsive img-thumbnail">
          </a>
        </div>
        <div class="col-sm-6">
          <p class="lead">
            Shows axis histograms for selected <em>and</em> nonselected points in a scatter plot
          </p>
          <p>
            <em>Source code: </em><a target="_blank" href="https://github.com/bokeh/bokeh/blob/master/examples/app/selection_histogram.py">selection_histogram</a>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <a target="_blank" href="apps/weather">
            <img src="http://bokeh.pydata.org/static/weather_t.png" class="img-responsive img-thumbnail">
          </a>
        </div>
        <div class="col-sm-6">
          <p class="lead">
            Interactive weather statistics for three cities.
          </p>
          <p>
            <em>Source code: </em><a target="_blank" href="https://github.com/bokeh/bokeh-demos/tree/master/weather">weather</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <a target="_blank" href="apps/sliders">
            <img src="http://bokeh.pydata.org/static/sliders_t.png" class="img-responsive img-thumbnail"></img>
          </a>
        </div>
        <div class="col-sm-6">
          <p class="lead">
            A basic demo that has sliders for controlling a plotted trigonometric function
          </p>
          <p>
            <em>Source code: </em><a target="_blank" href="https://github.com/bokeh/bokeh/blob/master/examples/app/sliders.py">sliders.py</a>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <a target="_blank" href="apps/timeout">
            <img src="http://bokeh.pydata.org/static/timeout_t.png" class="img-responsive img-thumbnail">
          </a>
        </div>
        <div class="col-sm-6">
          <p class="lead">
            An updating plot that demonstrates using timeout callbacks in Bokeh server apps
          </p>
          <p>
            <em>Source code: </em><a target="_blank" href="https://github.com/bokeh/bokeh/blob/master/examples/app/timeout.py">timeout.py</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <a target="_blank" href="apps/random_tiles">
            <img src="http://bokeh.pydata.org/static/random_tiles_t.png" class="img-responsive img-thumbnail"></img>
          </a>
        </div>
        <div class="col-sm-6">
          <p class="lead">
            A custom tile renderer showing random tiles from different sources demonstrates the capability to have user defined extensions with Bokeh server applications.
          </p>
          <p>
            <em>Source code: </em><a target="_blank" href="https://github.com/bokeh/bokeh/blob/master/examples/app/random_tiles">random_tiles</a>
          </p>
        </div>
      </div>
    </div>

</div>

</body>
</html>
