<footer>
  <div class="footer-links">
    <div class="footer-grid">
      <div>
        <h3>Project</h3>
        <a href="https://github.com/bokeh/bokeh/wiki/BEP-4:-Project-Roles">Team</a>
        <a href="https://bokeh.org/branding/">Branding</a>
        <a href="https://github.com/bokeh/bokeh/wiki/Citing-Bokeh">Citation</a>
      </div>
      <div>
        <h3>Documentation</h3>
        <a href="https://docs.bokeh.org/en/latest/docs/user_guide.html">User guide</a>
        <a href="https://docs.bokeh.org/en/latest/docs/gallery.html">Gallery</a>
        <a href="https://docs.bokeh.org/en/latest/docs/reference.html">Reference guide</a>
      </div>
      <div>
        <h3>Hands on</h3>
        <a href="https://github.com/bokeh/tutorial">Tutorials</a>
        <a href="/">Demos</a>
        <a href="https://bokeh.org/community/">Support</a>
      </div>
      <div>
        <h3>Contribute</h3>
        <a href="https://github.com/bokeh/bokeh">GitHub</a>
        <a href="https://docs.bokeh.org/en/latest/docs/dev_guide.html">Contributor guide</a>
        <a href="https://github.com/bokeh/bokeh#support">Sponsor</a>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <div>
      <p>Bokeh is a fiscally sponsored project of <a href="https://numfocus.org/">NumFOCUS</a>, a nonprofit dedicated to supporting the open-source scientific computing community.</p>
      <p>©2026 Bokeh contributors. Website content uses the <a href="https://github.com/bokeh/bokeh.org/blob/main/LICENSE.txt">BSD License</a> and is covered by the <a href="https://github.com/bokeh/bokeh/blob/main/docs/CODE_OF_CONDUCT.md">Bokeh Code of Conduct</a>.</p>
    </div>
    <a class="donate-button" href="https://numfocus.org/donate-to-bokeh">Donate</a>
  </div>
</footer>
