@media (max-width: 700px) {
  :host {
    flex-wrap: wrap !important;
  }

  :host > * {
    width: calc(50% - 5px) !important;
    min-width: calc(50% - 5px) !important;
    max-width: calc(50% - 5px) !important;
    flex: 1 1 calc(50% - 5px) !important;
  }
}
